<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body class="posanaliseBody">
    <section id="posanalise">
        <div id="resultado-analise">
            <button id="button-porcentagem">0%</button>
            <div id="text-resultado-analise">
                <h1>Lorem ipso</h1>
                <p>Lorem ipsum, dolor sit amet</p>
                <h1>Lorem ipso</h1>
                <p>Lorem ipsum, dolor sit amet</p>
            </div>
        </div>
        <div id="text-posanalise">
            <div id="titulo-text-posanalise">
                <span class = "icon-complicacoes"></span>
                <h1>Complicações</h1>
            </div>           
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Sunt deleniti quasi quisquam ad soluta sit officiis veniam omnis sed consectetur!</p>
            <div id="titulo-text-posanalise">
                <span class = "icon-contaminacao"></span>
                <h1>Fase de contaminação</h1>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Sunt deleniti quasi quisquam ad soluta sit officiis veniam omnis sed consectetur!</p>
            <button id="button-cadastrar">Cadastrar Bovino</button>
        </div>
    </section>
    <footer>      
        <div id="menu-footer">
            <span class = "icon-home"></span>
            <span class = "icon-plus"></span>
            <span class = "icon-cow"></span>
        </div>

    </footer>
    <script src="./assets/js/posanalise.js"></script>
</body>
</html>