<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form id="signupCowForm" enctype="multipart/form-data">
    <input type="file" name="image" id="pictureCow">
    <input type="text" name="tempIdCow" id="idCow">
    <input type="text" name="name" id="nameCow">
    <div class="resultsBox">
      <p id="displayChances">90% de chance de infecção</p>
      <div class="resultsDetails"></div>
    </div>
    <button>Salvar análise</button>
  </form>
  <script src="./assets/js/signupCow.js"></script>
</body>
</html>